
# nodejs ------------------------------------------------------
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
build

# mongodb -----------------------------------------------------
/local/mongo/data/*
!/local/mongo/data/.gitkeep

# gcp build ---------------------------------------------------
!/gcp-build/build

# misc --------------------------------------------------------
.DS_Store
.vscode/
.settings/
